.cache
.pytest_cache
pytest_session.txt
.coverage
_build.*
.sconsign.dblite
config.log
.sconf_temp
*.dylib
*.o
*.os
*.so
*.cfgc
*.pyc
bin/validate.py
doc/html
doc/xml
doc/*.tag
doc/*.inc
doc/doxygen.conf
tests/.tests
tests/.cache
version.py
tests/DefaultPolicyFile_1
tests/PAFBadSyntax
tests/PAFtypes
tests/PolicyString_1
tests/Policy_1
tests/Policy_2
tests/Policy_3
tests/Policy_4
tests/testBadPAFWrite
tests/testDefaults
tests/testDm8654
